.message-list {
  position: absolute;
  box-sizing: border-box;
  width: calc(100% - 100px);
  height: 400px;
  height: calc(100vh - 100px);
  padding: 25px;
  overflow: auto;
  overflow-y: scroll;
  background: #f0f0f0;
}

.message {
  clear: both;
  box-sizing: border-box;
  width: 350px;
  margin-top: 10px;
  padding: 8px 12px;
  color: white;
  word-wrap: break-word;
  background-color: #48c2c5;
  border-radius: 10px;
}

.message-friend {
  float: left;
}

.message-user {
  float: right;
}

.chatHeader {
  position: fixed;
  box-sizing: border-box;
  width: calc(100% - 301px);
  height: 50px;
  margin-left: 301px;
  padding-top: 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #344195;
}

.messages {
  @apply flex flex-col space-y-4 p-3 overflow-y-auto;
}

.chat-message-input {
  @apply w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-12 bg-gray-200 rounded-md py-3;
}

.chat-other-message-wrapper {
  @apply flex flex-col space-y-2 text-xs max-w-xs mx-2 order-2 items-start;
}

.chat-my-message-wrapper {
  @apply flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end;
}

.chat-other-message {
  @apply px-4 py-2 rounded-lg inline-block rounded-bl-none bg-gray-300 text-gray-600;
}

.chat-my-message {
  @apply pl-4 pr-8 py-2 rounded-lg inline-block rounded-br-none bg-blue-600 text-white;
}

.chat-header-icon {
  @apply inline-flex items-center justify-center rounded-lg border h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none;
}
.message-send-button {
  @apply inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none;
}
